# mongo data
mongo-data/
dump/
*.bson
*.wt
*.lock
*.turtle
*.ns
*.log
*.wt*

# redis
dump.rdb
appendonly.aof

# docker
**/Dockerfile.*
docker-compose.override.yml
*.tar
*.pid
*.sock

# IDE & system
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.bak
*.old
*.log

# Environment files
.env
.env.local
